body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    line-height: 1.6;
}

h1 {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #666;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

img {
    height: 550px;
    width: auto;
    float: right;
    margin-right: 130px;
    margin-left: 10px;
    margin-top: 5px;
}

.body-img-container {
    display: flex;
    justify-content: space-between;
}

.body-img-container .body-txt {
    display: flex;
    flex-direction: column;
    max-width: 80%; 
    margin-left: 130px;
    padding: 0;
    text-align: left;
}